/* Universal Styles */

* {
  box-sizing: border-box;
}

.row::after{
  content: "";
  clear: both;
  display:block;
}


html {background-color: black;
color:seashell;
opacity: 0.9;
font-family: Helvetica;
font-size:22px;
line-height:1;

}

h2{
  padding-top: 30px;
}


.heading{
  width:100%;
  height:69px;
  border-bottom: 1px solid seashell;
  position:fixed;
  top:0;
  background-color: black;
  overflow:hidden;
}

.heading ul {
  float: right;
  list-style:none;
  display: inline-flex;
}

.heading li {
   padding:10px;
}


.heading img {
  height: 50px;
  padding:10px;
}


.mission {
  width:1200px;
  background-color: black;
}



.col-1 {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  flex-shrink:6px;
 flex-grow: 5px;

}

.col-2 {
  width:1200px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  padding-bottom: 50px;
  flex-shrink:6px;
 flex-grow: 5px;

}

.col-3 {
  height:500px;
  width:1200px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
   background-size: cover;
   background-repeat:no-repeat;
  padding-bottom:60px;

}


  .background  {
   height:700px;
   width:1200px;
   background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
   background-repeat:no-repeat;
   background-size: cover;
   display:flex;
   flex-wrap:wrap;
   justify-items:center;
   align-content:center;
   overflow:hidden;
}



  img {
  width:300px;
  height:200px;
}




.Steeping{
  width:1000px;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;


}

.item {

  height: 200px;
  width:300px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  margin:40px;
}

.content {
  width:1200px;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;
   padding-bottom:50px;
}



.places {
  height: 60%;
  width:1200px;
  display:inline-flex;
  justify-content:space-around;
}

.place {
  height: 100%;
  width:30%;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  margin:20px;
}


.black{
  width:1200px;
  background-color:black;
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  overflow:hidden;

}


.locate {
  width:1000px;
   display:flex;
   flex-wrap:wrap;
   justify-content:center;
   align-items:center;




}


.contacts{
  width:100%;
  height:250px;
  text-align:center;
  padding-top:10px;


}


.left {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content:left;
  align-items:center;
}
